/*------------------------------------------------------
Fichier SCSS:
    Paramètres généraux 
        Les marges
        Les radius
        les paddings

Creation: 30/12/2021
Auteur: BTC
---------------------------------------------------------*/

/* Les rayons de courbure*/
$RadiusCard: 15px; /* Rayon de courbure pour les items : petit arrondi*/
$RadiusRond: 50px; /*50px pour faire un rond*/

/* position*/
$PositionCoeurAccueil: 70%; /* Position du coeur dans les cards resto de la page accueil*/
$PositionCoeurResto: 50%; /* Position du coeur dans l'entete de la page resto*/
